/* header title font */
.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}


/* background color of header (logo part) */
.skin-blue .main-header .logo {
          background-color: #000000;
        }
        
        
/* change the background color of header (logo part) when mouse hover */
.skin-blue .main-header .logo:hover {
          background-color: black;
        }
        

/* background color for remaining part of the header */
.skin-blue .main-header .navbar {
                              background-color: #000000;
                              } 
                              
/* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: #0594ff;
                              }

/* active sidebar menu item */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #0594ff;
                              color:black;
                              }

/* sidebar menuitems */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #0594ff;
                              color: black;
                              }

/* sidebar menuitems when mouse hover */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #a233fa;
                              color:white;
                              }
                              
/* sidebar toggle button */           
.skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: black;
				color: #a233fa;
                              }